.user-details {
    .content {
        .img-holder {
            img {
                width: 128px;
                height: 128px;
                border-radius: 70px;
            }
        }
        h1 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }
        .user-location{
            text-align: center;

        }
    }
}
